* {
    font-family: system-ui;
    font-size: 18px;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
}

header, footer {
    background-color: rgb(114 163 255);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a, footer a, header span, footer span {    
    padding: 15px;
}

header a:active, footer a:active {    
    background-color: rgb(101, 151, 243);
}

footer {
    margin-top: auto;
}

.titulo, .texto {
    padding: 0 20px;
    padding-left: 40px;
}

.titulo {
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
}

.texto {
    margin-top: 0;
    text-align: justify;
}

.italico {
    font-style: italic;
    font-weight:  lighter;
}

.destaque {
    font-weight: 500;
    color: rgb(36, 36, 36);
    border: 1px solid rgb(101, 151, 243);
    border-radius: 7px;
    margin: 20px;
    margin-top: 0;
    padding: 20px;
    margin-left: 40px;
}




