body {
    padding: 30px;
    background-color: rgb(231, 237, 243);
}
.titulo {
    text-align: center;
    color: rgb(114 163 255);
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
    display: flex;
    width: 100%;
}

.h1 {
    color: rgb(95, 95, 95);
    margin-top: 20px;
}

.item-sumario {
    background-color: white;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    width: 100%;
    text-align: justify;
    border-radius: 3px;
}